<%= link_to image_tag("memo-icon.png", size: "32x32"), "#memocanvas", class: "btn memo-btn", "data-bs-toggle": "offcanvas", "role": "button", "aria-controls": "offcanvas" %>

<div class="offcanvas offcanvas-start" tabindex="-1" id="memocanvas" aria-labelledby="memoCanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="memoCanvasLabel">メモ</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <%= form_with model: @new_memo, local: true do |f| %>
      <div class="d-flex">
        <%= f.submit "追加", class: "btn btn-outline-info ms-auto mb-2 memo-add-btn" %>        
      </div>
      <div class="form-floating mb-3">
        <%= f.text_area :content, class: "form-control w-100", id: "floatingInputMemo" %>
        <label for="floatingInputMemo">Memo</label>       
      </div>
    <% end %>      
    <ul class="list-style-none">
      <% @memos.each do |memo| %>
        <% if memo.id.present? %>
          <li id="memo-<%= memo.id %>" class="d-flex memo-body border-bottom">
            <span class="memo-text"><%= memo.content %></span>
            <%= link_to "", memo_path(memo), data: { "turbo-method": :delete,
                                                turbo_stream: "You sure" }, class: "ms-auto btn-close", "type": "button", "aria-label": "Close" %>
          </li>
        <% end %>
      <% end %>
    </ul>    
  </div>      
</div>