<% provide :title, "Sign in" %>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card flex-row my-5 border-0 shadow rouned-3 overflow-hidden">
        <div class="card-body p-4 p-sm-5">
          <h2 class="card-title text-center mb-5 fs-5">Log in</h2>
          <%= form_with model: @user, url: user_session_path, local: true do |f| %>
            
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>

            <div class="form-floating mb-2">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control #{'is-invalid' if alert }", id: 'floatingInputUsername' %>
              <label for="floatingInputEmail">Email address</label>
            </div>
            <div class="form-floating mb-2">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control #{'is-invalid' if alert}", id: 'floatingPassword' %>
              <label for="floatingPassword">Password</label>
            </div>
            <div class="d-grid mb-2">
              <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-login fw-bold text-uppercase", data: { turbo_action: "replace" }%>
            </div>
            
            <%= link_to "Not have an account? Sign up", new_user_registration_path, class: "d-block text-center mt-2 small"%>

            <hr class="my-4">
          <% end %>
          <p class="text-center">or Log in with social account</p>
          <div class="social-form">
            <%= button_to image_tag("google-icon.png"), user_google_oauth2_omniauth_authorize_path, data: {turbo: false}, class: "btn" %>
            <%= button_to image_tag("twitter-icon.png"), user_twitter_omniauth_authorize_path, data: {turbo: false}, class: "btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>